<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Product categorie</title>
  <!-- Swiper CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 <link rel="stylesheet" href="../Css/ProductPageStyle.css">
</head>

<body>
  <div class="header">
    <div class="header-overlay">
      <h1>Pizza House</h1>
      <div class="tags">Burgers, Briouats, momalahat</div>
      <div class="info">
        <span>🚚 13 Dh</span>
        <span>⏱ 15 - 25 min</span>
        <span>⭐ 4.9</span>
        <span class="status"><a href="index.html">Back</a></span>
      </div>
    </div>
  </div>

  <!-- Swiper Container -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide active">Pizza Calzone</div>
      <div class="swiper-slide">Tacos</div>
      <div class="swiper-slide">Pasticcio</div>
      <div class="swiper-slide">Burger</div>
      <div class="swiper-slide">Plates</div>
      <div class="swiper-slide">Salads</div>
      <div class="swiper-slide">Desserts</div>
      <div class="swiper-slide">Drinks</div>
    </div>
   
    
  </div>

  <div class="section">
    <div class="product">
      <div class="product-info">
        <div>jus Banane</div>
        <div>15.00 Dh</div>
      </div>
      <div>
        <img src="../images/pizza1.jpg" alt="jus Banane" class="product-img" />
        <button class="add-button" onclick="return alert('add')" >Ajouter</button>
      </div>
    </div>

    <div class="product">
      <div class="product-info">
        <div>jus Banane</div>
        <div>15.00 Dh</div>
      </div>
      <div>
        <img src="../images/pizza2.jpg" alt="jus Banane" class="product-img" />
        <button class="add-button" onclick="return alert('add')">Ajouter</button>
      </div>
    </div>

    <div class="product">
      <div class="product-info">
        <div>jus Banane</div>
        <div>15.00 Dh</div>
      </div>
      <div>
        <img src="../images/pizza3.jpg" alt="jus Banane" class="product-img" />
        <button class="add-button" onclick="return alert('add')">Ajouter</button>
      </div>
    </div>
    <div class="product">
        <div class="product-info">
          <div>jus Banane</div>
          <div>15.00 Dh</div>
        </div>
        <div>
          <img src="../images/pizza4.jpg" alt="jus Banane" class="product-img" />
          <button class="add-button" onclick="return alert('add')">Ajouter</button>
        </div>
      </div>
      <div class="product">
        <div class="product-info">
          <div>jus Banane</div>
          <div>15.00 Dh</div>
        </div>
        <div>
          <img src="../images/pizza4.jpg" alt="jus Banane" class="product-img" />
          <button class="add-button" onclick="return alert('add')">Ajouter</button>
        </div>
      </div>
      <div class="product">
        <div class="product-info">
          <div>jus Banane</div>
          <div>15.00 Dh</div>
        </div>
        <div>
          <img src="../images/pizza3.jpg" alt="jus Banane" class="product-img" />
          <button class="add-button" onclick="return alert('add')">Ajouter</button>
        </div>
      </div>
      <div class="product">
        <div class="product-info">
          <div>jus Banane</div>
          <div>15.00 Dh</div>
        </div>
        <div>
          <img src="../images/pizza2.jpg" alt="jus Banane" class="product-img" />
          <button class="add-button" onclick="return alert('add')">Ajouter</button>
        </div>
      </div>
  </div>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script src="../Js/ProductScript.js"></script>
</body>
</html>